@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos, alumnos de DAW</h1>
    <p>Aprenderemos acerca de <a href="https://docs.microsoft.com/aspnet/core">cómo trabajar con ASP.NET Core</a>.</p>
</div>
