@model MontecasteloAuthDemo.Controllers.UsersController.CreateUserDto
@{
    ViewData["Title"] = "Nuevo usuario";
}
<h1>Nuevo usuario</h1>

<form asp-action="Create" method="post" style="max-width:520px">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="NombreUsuario" class="form-label"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="Rol" class="form-label"></label>
    <select asp-for="Rol" asp-items="ViewBag.Roles" class="form-select"></select>
    <span asp-validation-for="Rol" class="text-danger"></span>
</div>

    <button class="btn btn-success">Crear</button>
    <a class="btn btn-link" asp-action="Index">Volver</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
