@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Cine Montecastelo</h1>
    <p class="lead">Consulta la cartelera actual y, si entras como admin, gestiona películas y salas </p>
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Peliculas" asp-action="Cartelera">Ver Cartelera</a>
    </p>
</div>
